/*
Theme Name: SCRN
Theme URI: http://themeforest.net/user/FinalDestiny
Version: 2.2
Description: Portfolio template with parallax effects.
Author: Cristi Macovei
Author URI: http://themeforest.net/user/FinalDestiny
Created Date: 28/08/2012
License: Themeforest
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
All files, unless otherwise stated, are released under the GNU General Public License
Tags: dark, light, white, black, gray, one-column, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
*/
@media only screen and (min-width: 1100px) {
	.separator1 .bg, #intro .bg1 {
		background-attachment: fixed !important;
	}
}
@media only screen and (max-width: 1050px) {
	.hoverimage { 
		display: none !important;
	}
}
.filter ul li {
display: inline-block !important;
}
.portfolio_details a {
	text-decoration: none;
}

.portfolio-item iframe, .portfolio-item img {
	width: 620px;
	height: 370px;
}

.buttonbuilder {
	width: 90%!important;
	padding-left: 5%!important;
	padding-right: 5% !important;
}

iframe, embed, img {
	max-width: 100%;
}

img {
	height: auto;
}

.contact-form input[type="text"]:focus, 
.contact-form input[type="password"]:focus, 
.contact-form input[type="email"]:focus, 
.contact-form textarea:focus {
	color: #FFF;
}

nav ul {
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
nav ul li {
	padding: 0;
	position: relative;
	float: left;
}

nav ul li a {
	display: inline-block;
	padding: 2px 26px 10px;
}

nav ul ul {
  background-color: #4B4B4B;
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px 0;
  z-index: 1000;
  margin: 0;
  width: auto;
}

nav ul ul li {
  border: none !important;
  position: relative;
  width: auto;
  padding: 0px 26px;
}

nav ul ul li a {
	color: #fff !important;
	padding: 7px 0;
}


nav ul ul li a:hover {
	color: #fff !important;
}

nav ul ul ul {
  position: absolute;
  margin-top: -10px;
  left: 100%;
  top: 0%;
}

nav ul li:hover > ul {
  display: block;
}

/*****************************************************
11: Blog
******************************************************/

#blog p, #blog a {
    color: #fff;
}

#blog a, #blog a:hover {
	text-decoration: none;
}

p.post-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 7px;
}

p.post-info {
    font-size: 14px;
    opacity: 0.65;
}

p.post-info img {
    margin-right: 3px;
}

/* begin sidebar */

.sidebar {
    margin-top: 10px;
    border-left: 1px solid #fff;
    padding-left: 20px;
}

.search input[type="text"] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    font: 13px 'Source Sans Pro', sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    background: transparent;
}

.sidebar p {
    margin: 0;
    line-height: 20px;
    color: #fff;
}

p.sidebar-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
}

p.s-small {
    font-size: 13px;
    opacity: 0.7;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul {
    list-style: circle;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 30px;
}

.sidebar ul.popular {
    list-style: none;
    margin-left: 0;
}

.sidebar ul li {
    margin: 0 0 10px 0;
}

/* end sidebar */

/* begin single-post page */

div.single-post {
    border-bottom: 1px dotted #d9d9d9;
    padding-bottom: 20px;
    margin-top: 11px;
    margin-bottom: 30px;
}

.comment {
	margin-top: 20px;
	margin-bottom: 0;
}

.user-name {
	margin-bottom: 1px;
}

.user-date {
	font-size: 12px;
	color: #868686;
	margin-bottom: 5px;
}

.user-text {
	color: #868686;
	border-top: 1px dotted #d9d9d9;
	border-bottom: 1px dotted #d9d9d9;
	padding: 8px 0;
	font-size: 14px;
}

.comment-respond h3 {
	font-size: 24px;
    margin-bottom: 10px;
}

.comment-respond  p.logged-in-as, .comment-respond .comment-notes {
	margin-bottom: 20px;
}

p.form-allowed-tags {
	display: none;
}

.comment-respond input[type="text"], .comment-respond textarea {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    font: 13px 'Source Sans Pro', sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    background: transparent; 
}

.comment-respond p {
    margin-bottom: 0;
    font-size: 14px;
}

/* end single-post page */

.pagination .rightpag {
	float: right;
}

.pagination .leftpag {
	float: left;
}

.user-text {
	line-height: 29px;
}

.left_comment {
	width: 10%;
	margin-right: 2%;
	float: left;
}
.right_comment {
	width: 88%;
	float: left;
}

ol.commentlist ul {
	margin-left: 60px;
}

p.separator{
	padding-left: 10%;
	padding-right: 10%;
}

h2 {
  line-height: 40px;
}
a.selected {
  padding: 8px 10px;
}

@media only screen and (max-width: 768px) {
  span.lines {
  border: none !important;
  }
}