/*
 Theme Name:   PaintDecorate
 Template:     scrn
*/

@import url("../scrn/style.css");

* {
	box-sizing: border-box;
}

/* HEADER */
#intro .bg1{
	background-size: auto 100%;
	background-attachment: initial !important;
	background-position: center 0;
}
#intro .title{
	padding-top: 100px;
}
nav ul li:first-child{
	border-left: 0;
}
nav ul li:last-child{
	border-right: 0;
}
nav ul li a{
	padding: 2px 10px 10px;
}
nav ul ul{
	padding: 0;
	 min-width: 250px;
}
nav ul ul li{
	text-align: left;
	width: 100%;
	padding: 0;
}
nav ul ul li a{
	display: block;
	text-transform: none;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #666;
}
nav ul ul li:last-child a{
	border-bottom: none;
}
nav ul ul li a:hover{
	text-decoration: none;
	background: #aaa;
}


/* TYPOGRAPHY & COLORS */
h1, h2, h3, h4, h5{
	font-family: 'Open Sans', sans-serif;
}
h4{
	margin-bottom: 20px;
}
h5{
	font-size: 22px;
}

h2 .lines {
	border-top: 0;
	border-color: #376589;
}
.page h2{
	margin: 90px 0 80px;
}
.taupe-bg h2,
.taupe-bg h4{
	color: #fff;
}
.dark-bg h2 .lines,
.taupe-bg h2 .lines{
	border-color: #fff;
}
.taupe-bg,
.taupe-bg p{
	color: #1a1a1a;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: #34648c;
}
a:hover{
	text-decoration: underline;
	color: #34648c;
}
.taupe-bg a{
	color: #fff;
}


/* BACKGROUNDS */
.taupe-bg{
	background: url(images/pattern_blue.jpg) repeat !important;
}
.dark-bg,
#footer{
	background: url(images/pattern_grey.jpg) repeat !important;
}

/* METASLIDER */
.metaslider  {
overflow:hidden;
}

.metaslider .slides img {
	min-height:600px;
	min-width:1905px;
}
.metaslider div.caption-wrap {
	opacity: 1;
	top: 50%;
	bottom: auto;
	left: auto;
	right: auto;
	background: none;
}
.metaslider div.caption{
	width: 960px;
	padding: 0;
	margin: 0 auto;
}
.metaslider div.caption span{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 1.5em;
	color: #fff;
	width: 340px;
	padding: 1em;
	margin-bottom: 1em;
}
.metaslider div.caption span:after{
	content: " ";
	display: block;
	clear: both;
}

.metaslider .caption a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	padding: 0.7em 1em;
	background: #34648c;
	background: rgba(52, 100, 140, 0.7);
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.metaslider .caption a:hover {
	text-decoration:none;
	background: #34648c;
}



/* SERVICES */
.container .eight.columns.serv-list{
	width: 300px;
}

@media all and (min-width: 942px) {
.container .eight.columns.serv-list:first-child{
	margin-left: 170px;
}
}


@media screen and (max-width : 860px) {
p.separator, .metaslider div.caption {
display:none;
	
}

}


/* FILTERABLE PORTFOLIO */
.container .aq-block-aq_filterableportfolio_block ul{
	list-style: none;
	margin: 0;
}
.filter ul li{
	margin-right: 10px;
}
.filter a{
	font-family: 'Open Sans', sans-serif;
	padding: 8px 10px;
}
a.selected,
.filter a:hover{
	text-decoration: none !important;
	color: #fff !important;
	background: #34648c;
}
.filterable_portfolio{
	margin-left: -15px;
	margin-right: -15px;
}
.filterable_portfolio .item.one-third{
	margin-left: 15px;
	margin-right: 15px;
}
p.proj-title{
	padding-bottom: 5px;
	padding-top: 3px;
	margin-bottom: 0;
}
p.proj-desc{
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}
.container .two-thirds.column{
	margin-left: 0;
	margin-right: 20px;
}
.portfolio_details .two-thirds.column{
	width: 630px;
}
.portfolio_details .one-third.column{
	margin-right: 0;
}
.portfolio_details .flexslider{
	border: none;
	box-shadow: none;
}
.portfolio_details p{
	font-size: 14px;
	line-height: 20px;
}
p.s-proj-title{
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.button1, input[type="submit"], input[type="reset"], input[type="button"]{
	font-family: 'Open Sans', sans-serif;
}


/* TESTIMONIALS */
.testimonials{
	position: relative;
	margin-bottom: 70px;
}
.testimonials p{
	font-size: 17px;
	line-height: 24px;
	font-weight: 300;
	font-style: italic;
	padding: 15px 10px 10px 20px;
	border-left: 1px solid #ddd;
}
.testimonials p strong{
	position: absolute;
	left: 0;
	bottom: -30px;
	display: block;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
}


/* CONTACT */
#contact h5{
	margin-top: 18px;
}
#contact a:hover{
	text-decoration: underline;
}
.wpcf7 label{
	font-size: 16px;
	font-weight: normal;
}
.wpcf7 input,
.wpcf7 textarea {
	box-sizing: border-box;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 10px 4px;
	margin: 0;
	border: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}
.wpcf7 input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	background: #000;
	transition: all .3s ease;
}
.wpcf7 input[type="submit"]:hover{
	color: #000;
	background: #fff;
}

/* FOOTER */
#footer .copyright a{
	font-weight: bold;
	transition: all .3s ease;
}
#footer .copyright a:hover{
	color: #000;
}



/* SINGLE PAGE */
.page #intro{
	height: 220px;
	background: url(images/header_single_page.jpg) no-repeat top center;
}
.page #intro .bg1{
	display: none;
}
.page #intro .title{
	padding-top: 50px;
}
.page .title img{
	width: 250px;
}
div.single-post{
	border: none;
}
#blog p{
	color: #3D3D3D;
}
#blog a{
	color: #34648c; 
}
#blog a:hover{
	text-decoration: underline;
}
.separator1 .bg{
	background: url('images/paint_01.jpg') repeat center;
}


table.checklist{
	margin-bottom: 2em;
}
table.checklist thead{
	color: #fff;
	background: #376589;
}
table.checklist thead td{
	text-transform: uppercase;
	text-align: center;
}
table.checklist thead td:nth-child(2){
	background: #234057;
}
table.checklist td{
	vertical-align: middle;
	padding: 1em;
	border: 1px solid #376589;
}
table.checklist tbody tr td:first-child{
	background: #ebeff3;
}
table.checklist tbody tr td:nth-child(2){
	text-align: center;
	background: #d3d9dd;
}


.aq_block_tabs ul.aq-nav li a {
  color: #515151;
  font-family: Open Sans;
  font-size: 13.5px;
  font-style: normal;
  font-weight: normal;
text-transform:uppercase;
border-radius:0px;
border: 0 none;
}

.aq_block_tabs ul.aq-nav li.ui-tabs-active a{
color:#fff!important;
background:#376589;
}
.aq_block_tabs .aq-tab {
border-color:#376589;
}


.white.location {
float:left;
width:30px;
}